<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/header.css" rel="stylesheet">
</head>
<body>
    <div class="pg-header">
        <div class="head-content">
            <a href="/" class="digg-logo"></a>
            <div class="action-menu">
				<a class="tb active">全部</a>
                <a class="tb">42区</a>
                <a class="tb">段子</a>
                <a class="tb">图片</a>
                <a class="tb">挨踢1024</a>
                <a class="tb">你问我答</a>
			</div>
        </div>


    </div>
    <div class="pg-body"></div>
    <div class="pg-footer"></div>
</body>
</html>